@page
@model AdminModel
@{
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2 class="text-center">Article List</h2>

<button id="Add Article" type="button" class="btn btn-primary marginleft" value="Admin" onclick="location.href='/Add'"><span class="glyphicon glyphicon-plus"></span> New Article</button><br> <br>
<div class="margin">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Highlight</th>
      <th scope="col">Updated</th>
      <th scope="col">Action</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @{  var count = 0; 
          ViewBag.items = ViewData["Data"];
          var articles = ViewBag.items;
          foreach(var a in articles) {
            count++;
    <tr>
      <th>@count</th>
      <td>@a.title</td>
      <td><img style="width:120px" src=@a.image></td>
      <td>@a.highlight</td>
      <td>@a.Edited_at</td>
      <td><div class="container">
        <div class="row">
          <div class="col-5">
              <input type="hidden" name="id" value="@a.id">
              <button type="button" class="btn btn-success" id="edit-@a.id" data-id="@a.id" data-title="@a.title" data-content="@a.content" data-highlight="@a.highlight" data-image="@a.image" data-toggle="modal" data-target="#exampleModal"><span class="fa fa-edit"></button>
              </div>&nbsp&nbsp
              <div class="col-5">
            <form method="POST">
              <input type="hidden" name="id" value="rmv-@a.id">
              <button id="btn" class="btn btn-danger"><span class="fa fa-trash"></button>
            </form></div>
            </div></div>
      </td>
    </tr> }
      }
</table> </div> 
<br><br><br><br>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" >
        <div class="modal-content" style="width:500px;height:550px">
          <div class="modal-header">
            <h4 class="modal-title"><b>Update Data</b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST">
          <div class="modal-body">
            <label for="title"><b>Title</b></label><br>
            <input type="text" name="edit" class="form-control" value="update" hidden>
            <input type="text" name="id" id="id1" class="form-control" value="" hidden>
            <input type="text" name="title" id="title1" class="form-control">
            <br>
            <label for="highlight"><b>Highlight</b></label><br>
            <input type="text"  name="highlight" id="highlight1" class="form-control">
            <br>
            <label for="content"><b>Content</b></label><br>
            <input type="text"  name="content" id="content1" class="form-control">
            <br>
            <label for="image"><b>Image</b></label><br>
            <input type="text" name="image" id="image1" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: red;color:white;">Close</button>
            <button type="submit" class="btn btn-primary" id="savechanges" id="edit">Save changes</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        console.log('Masuk Sini')
        $('#exampleModal').on('show.bs.modal', function (e) {
        $('#id1').val($(e.relatedTarget).data('id'))
        $('#title1').val($(e.relatedTarget).data('title'))
        $('#highlight1').val($(e.relatedTarget).data('highlight'))
        $('#content1').val($(e.relatedTarget).data('content'))
        $('#image1').val($(e.relatedTarget).data('image'))
    })
})
</script>