@page 
@model ReadModel
@{
    ViewData["Title"] = "_Layout";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   @{ 
          ViewBag.items = ViewData["Data"];
          var articles = ViewBag.items;
         <div class="col-md-11 blogShort">
             <br>
                     <h1>@articles.title</h1>
                     <br>
                     <img src=@articles.image alt="post img" class="text-center">
                     <br><br>
                     <article><h4>
                         @articles.highlight
                         </h4>
                     <p class="text-justify">
                         @articles.content
                         </p>
                     </article>
                 </div>
                 <br><br>
          }

@{
ViewBag.items = ViewData["Data_Comment"];
var comments = ViewBag.items;
ViewBag.user = ViewData["Data_user"];
var user = ViewBag.user;
if (comments!=null){
foreach(var a in comments){
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card card-white post">
                <div class="post-heading">
                    <div class="float-left image">
                        @{
                         if(user == a.email){
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUDVRKKScyCXDd97MrZ_6pEPYJLPrhH9TSULy-aFG1KnzSPHgIvQ&s" class="img-circle avatar" alt="user profile image">}
                        else {
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyJ5Dn-YPzpm2VQgjft5SSZEqTSsYrdTTM8bMuXsBRzamYoqrA&s" class="img-circle avatar" alt="user profile image">
                        } }
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>@a.email</b></a>
                            made a comment.
                        </div>
                        <h6 class="text-muted time">@a.created_at</h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>@a.comment</p>
                </div>
                @{
                if(user == a.email){
                <div class="text-right">
                    <form method="POST">
                    <input type="hidden" name="id_comment" value="@a.id">
                    <button class="btn btn-danger"><span class="fa fa-trash"></span></button>
                    </form>
                </div>}
                }  
            </div>
        </div>
        
    </div>
</div>
}
}
}

@{ ViewBag.login = ViewData["login"];
if(ViewBag.login != null) {
 <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
          <div class="container">
	<div class="row">
	</div>  
    <div class="row">
    <div class="col-md-8">
    						<div class="widget-area no-padding blank">
								<div class="status-upload">
									<form method="POST">
										<textarea placeholder="Comment for this article" name="comment"></textarea>
                                        <input type="hidden" name="id" value="@articles.id">
                                        <ul>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
										</ul>
										<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Comment</button>
									</form>
								</div><!-- Status Upload  -->
							</div><!-- Widget Area -->
						</div>
    </div>
</div> } }
<br><br><br><br><br>

   