@page
@model RoleModel
@{
    Layout = "_LayoutAdmin";
}
<br>
<div class="container">
  <div class="row">
    <div class="col-3">
<h2 class="text-center">Admin</h2>
<br>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">User ID</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    @{ ViewBag.admin = ViewData["Admin"];
       var count = 0;
       foreach(var a in ViewBag.admin) {
         count++;
    <tr>
      <th scope="row">@count</th>
      <td>@a.userId</td>
      <td>@a.role</td>
    </tr>
    } }
  </tbody>
</table>
</div>

<div class="col-9">
<h2 class="text-center">Account List</h2>
<br>
<div class="margin">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @{  var _count = 0; 
          ViewBag.items = ViewData["Data_user"];
          var user = ViewBag.items;
          foreach(var a in user) {
            _count++;
    <tr>
      <th>@_count</th>
      <td>@a.Id</td>
      <td>@a.Email</td>
      <td>@a.UserName</td>
      <td>
            <form method="POST">
              <select id="role" name="role">
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
              <input type="hidden" name="id" value="set-@a.Id">
              <button id="btn" class="btn btn-success">Set</button>
            </form>
      </td>
    </tr> }
      }
</table> </div></div></div></div>